/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

/* Styles for the body */
body {
	font-family: 'Caveat';
	color: #333333;
	background-color: #42D3FC;
}

a{
	color: #2591B0;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #2591B0;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #c2c2c2;
}

.language-level {
	color: #333333;
	border-color: #333333 !important;
}

.language-progress {
	background-color: #2591B0 !important;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "❤";
	font-weight: 20;
	display: inline-block;
	width: 2em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #2591B0;
}

.biography-details li, .skill-list li {
	padding-left: 4em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1em;
}
